@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.home {
  @include m.page-basic;

  .home__carousel {
    position: relative;
    width: 100%;
    display: flex;
    align-items: stretch;
    height: auto;
    flex-wrap: wrap;
    gap: 2rem;
    @include m.home-carousel-setting;

    .home__carousel-image__container {
      flex: 2;
      display: flex;
      height: 500px;
      overflow: hidden;
      border-radius: 15px;

      .swiper,
      .swiper-slide {
        height: 100%;
      }

      .home__carousel-image {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 15px;
      }
    }

    .ad-banner {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 500px;
      max-width: 30%;

      .ad-banner__link {
        width: 100%;
        height: 48%;
        overflow: hidden;
        border-radius: 15px;

        .ad-banner__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .home__content {
    display: flex;
    padding: 2rem 0;
    color: v.$white;
    font-size: 1.2rem;
    gap: 2rem;

    // =====共用標題區域樣式=====
    .title-img__container {
      height: 60px;

      .title-img {
        object-fit: cover;
        object-position: right;
        width: 100%;
        height: 100%;
      }
    }

    .title-text {
      position: absolute;
      left: 15px;
    }
    // =====共用標題區域樣式=====

    .home__main {
      flex: 2;

      .home__popular {
        .home__popular-header {
          width: 100%;
          flex-wrap: wrap;
          border-bottom: 5px solid v.$main-color;
          padding-bottom: 5px;
          @include m.flex-center($justify: space-between);

          .home__popular-title {
            display: flex;
            align-items: center;
            position: relative;
          }
        }

        .home__popular-grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
          // grid-template-columns: repeat(auto-fit, 18rem);
          align-items: start;
          max-width: 100%;
          gap: 1rem;
          margin-top: 1rem 0;
          padding: 1rem 0;
        }
      }

      .home__news {
        .home__news-header {
          width: 100%;
          flex-wrap: wrap;
          border-bottom: 5px solid v.$main-color;
          padding-bottom: 5px;
          @include m.flex-center($justify: space-between);

          .home__news-title {
            display: flex;
            align-items: center;
            position: relative;
          }
        }
      }
    }

    .btn--more-game {
      display: flex;
      align-self: flex-end;
      align-items: center;

      .see-more__text {
        display: flex;
        align-self: flex-end;
        color: v.$black;
        margin-right: 0.5rem;
        line-height: 1;
      }
      .see-more__container {
        display: flex;
        align-self: flex-end;
        width: 50px;

        .see-more__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .home__side {
      flex: 1;
      max-width: 30%;

      .home__side-reserve {
        .home__side-reverse-header {
          border-bottom: 5px solid v.$main-color;
          padding-bottom: 5px;
          width: 100%;

          .home__side-reserve-title {
            display: flex;
            align-items: center;
            position: relative;
          }
        }

        .home__reserve-list {
          display: flex;
          flex-direction: column;
          padding: 1rem 0;
        }
      }

      .home__side-ad {
        display: flex;
        width: 100%;
        position: relative;
        margin-top: 2rem;
        border-radius: 15px;
        overflow: hidden;
        @include m.home-carousel-setting;

        .home__side-ad-link {
          width: 100%;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .home {
    .home__carousel {
      .home__carousel-image__container {
        height: 350px;
      }

      .ad-banner {
        height: 350px;
      }
    }
  }
}

@media (max-width: 991px) {
  .home {
    .home__carousel {
      flex-direction: column;

      .home__carousel-image__container {
        flex: 0;
        width: 100%;
        height: 300px;
      }
      .ad-banner {
        flex-direction: row;
        width: 100%;
        max-width: none;
        gap: 1rem;
      }
    }
    .home__content {
      flex-direction: column;

      .home__popular {
        margin-right: 0;
        margin-bottom: 2rem;
      }

      .home__side {
        display: flex;
        flex-direction: column;
        max-width: 100%;

        .home__side-reserve {
          flex: 1;
          .home__reserve-list {
            border-bottom: transparent;
          }
        }

        .home__side-ad {
          flex: 1;
          margin: 2rem auto;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .home {
    .home__content {
      .btn--more-game {
        display: none;
      }
      .home__side {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 430px) {
  .home {
    .home__carousel {
      .home__carousel-image__container {
        height: 250px;

        .home__carousel-image {
          height: 250px;
        }
      }
      .ad-banner {
        flex-direction: column;
      }
    }

    .home__content {
      .home__main {
        .home__popular {
          .home__popular-header {
            .home__popular-title {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
