//colors
@use "sass:color";

$main-color: #F9B5C4;
$gate-main: #F9B5C4;
$checkbox-border: #D9C7F2;
$checkbox: #B89CDE;
$checkbox-hover: #C85179;
$under18-font: #E7CBA9;

$background: #FFF7F0;
$footer: #F2E5EF;
$footer-font: #6D5E75;
$go-top: #F9B5C4;


$header-selector: #4A3F55;
$language: #4A3F55;
$login: #FFF7F0;
$login-hover: #F9B5C4;
$register: #D9C7F2;
$register-hover: #B89CDE;

$category: #F9B5C4;
$news: #4A3F55;















$primary: #00bfff;
$primary-hover: #00688b;
$secondary: #2c002c;
$secondary-dark: #200021;
$thirdary: #917355;
$thirdary-light: #ffe4b4;
$aid: #ff5733;
$white: #fff;
$black: #000;
$notice: #ef5285;

$success: #22a455;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f0f0f0;
$dark: #4A3F55;
$gray: gray;

$greyLight-1: #e4ebf5;
$greyLight-2: #c8d0e7;
$greyLight-3: #bec8e4;
$greyDark: #9baacf;

$dark-background: #2c002c;
$light-background: #f8f9fa;
$background-color: black;

$btn-p: #ef5285;
$btn-l: #917355;
$btn-r: #e3c48e;

$shadow-color-white: rgba(255, 255, 255, 0.8);
$shadow-color-black: rgba(0, 0, 0, 0.2);

$shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
$inner-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
  inset -0.2rem -0.2rem 0.5rem #ffffff;

$shadow-green: inset 0.2rem 0.2rem 1rem color.adjust(#28a745, $lightness: 20%),
  inset -0.2rem -0.2rem 1rem color.adjust(#28a745, $lightness: -20%), $shadow;
$inner-shadow-green: inset 0.2rem 0.2rem 0.5rem
    color.adjust(#28a745, $lightness: -20%),
  inset -0.2rem -0.2rem 0.5rem color.adjust(#28a745, $lightness: 20%);
