@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.news-preview {
  color: v.$black;
  margin: 1rem 0;

  .error-message,
  .loading,
  .no-news {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.2rem;
  }

  .error-message {
    color: v.$danger;
  }

  .news-preview__list {
    display: flex;
    flex-direction: column;
    // gap: 0.1rem;
  }

  .news-preview__item {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.4rem 0.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: 0.35s ease;
    text-decoration: none;

    &:hover {
      border: 2px solid v.$main-color;

      .news-preview__headline,
      .news-preview__date {
        color: v.$secondary;
      }
    }

    .news-thumbnail__img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 8px;
      flex-shrink: 0;
    }

    .news-preview__content {
      flex: 1;
      display: flex;
      justify-content: space-between;

      .news-preview__box {
        display: flex;

        .news-preview__category {
          color: v.$category;
          font-size: 1.2rem;
          margin-right: 1rem;
        }

        .news-preview__headline {
          font-size: 1.2rem;
          font-weight: 600;
          color: v.$news;
        }
      }

      .news-preview__date {
        font-size: 1.2rem;
        opacity: 0.8;
        color: v.$news;
      }
    }
  }
}

@media (max-width: 768px) {
  .news-preview {
    .news-preview__item {
      flex-direction: column;
      align-items: flex-start;

      .news-thumbnail__img {
        width: 100%;
        height: auto;
      }

      div {
        width: 100%;

        .news-preview__date {
          margin-top: 0.5rem;
        }
      }
    }
  }
}
